// ------------------------------------------------------------
// Callout
// ------------------------------------------------------------

.callout {
    background-color: $sand;
    padding: 3em;
}

.callout__copy {
    @include font-size($gamma);
    @extend %font-heading;
    line-height: 1.4;
    margin-bottom: 1em;
}

.callout__link {
    color: $heading-color;
    @include font-size($zeta);
	border-bottom: 2px solid $earth;
	@include link-active-styles {
		border-color: #000;
		color: #000;
	}

}
