// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------

.footer {

}

.footer__main {
    background-color: darken($earth, 5%);
    padding: 3em 0;
    overflow: hidden;
    a {
        color: #fff;
        text-decoration: underline;
    }
}

.footer__strip {
    background-color: $earth;
    padding: 3em 0;
    overflow: hidden;
}

.footer__navigation {
    @include font-size($para);
    padding-top: 8px;
    li {
        display: inline-block;
        margin-right: 3em;
        position: relative;
        &:after {
            content: "/";
            position: absolute;
            right: -2em;
            color: #fff;
        }
        a {
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
            &:after {
                content: none;
            }
        }
    }
    @include respond-to($c-vp) {
        float: left;
    }
}

.footer__copy {
    position: relative;
    @include font-size($zeta);
    color: #fff;
    padding-left: 5em;
    p {
        margin-top: 1em;
    }
    @include respond-to($c-vp) {
        padding-right: 8em;
    }
}

.footer__marque {
    background-image: url('../svg/source/tpx-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 52px;
    height: 62px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__social {
    margin-top: 2em;
    li {
        display: inline-block;
        margin-right: 1em;
        a {
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            text-indent: -9999em;
        }
    }
    .footer__social--twitter a {
        background-image: url('../svg/source/icon-twitter.svg');
        height: 40px;
        width: 40px;
    }
    .footer__social--medium a {
        background-image: url('../svg/source/icon-medium.svg');
        height: 34px;
        width: 40px;
        transform: translateY(3px);
    }
    .footer__social--linkedin a {
        background-image: url('../svg/source/icon-linkedin.svg');
        height: 40px;
        width: 40px;
    }
    .footer__social--github a {
        background-image: url('../svg/source/icon-github-white.svg');
        height: 40px;
        width: 40px;
    }
    @include respond-to($c-vp) {
        float: right;
        margin-top: 0;
    }
}

.footer__logo {
    margin-top: 2em;
    margin-left: 70px;
    max-width: 75px;
    img {
        @extend %max-width;
    }
}

.footer__logos {
    margin-top: 15px;
    li {
        display: inline-block;
        padding: 5px;
        width: 32%;
        background-color: #fff;
        margin: 0 1% 4px 0;
        &:nth-child(3n){
            margin-right: 0;
        }
    }
    span {
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        min-height: 65px;
        display: block;
    }
}

.footer__meta {
    color: #fff;
    @include font-size($eta);
    margin-top: 3em;
    display: block;
    float: left;
}

.footer__links {
    display: block;
    float: right;
    @include font-size($eta);
    margin-top: 3em;
    li {
        float: left;
        margin-right: $internal-spacing;
        &:last-child {
            margin-right: 0;
        }
    }
}
