// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

.header {
	position: relative;
	background-color: $sand;
	.row {
		position: relative;
		// padding-top: 4em;
		padding-bottom: 2em;
	}
}
