// Basic responsive videos
// ------------------------------------------------------------

.media-video-wrapper,
.media-wrapper {
	position: relative;
	@include maintain-ratio(16 9);
	clear: both;
	display: block;
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.is-typeset & {
		margin: 2em 0;
	}
}

.media-figure {
	.is-typeset & {
		margin: 2em 0;
	}
	img {
		display: block;
		margin-bottom: 0;
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
	}
	&__caption {
		position: relative;
		@include font-size($para - 2);
		display: block;
		padding: 1em 2em;
		background-color: $sand;
		transform: translateX(20px);
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -100%;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $sand;
		}
		a {
			border-bottom: 2px solid $heading-color !important;
		}
	}
}
