{% extends 'default.html' %}

{% block body_id %}article{% endblock %}
{% block body_class %}article{% endblock %}

{% block hero %}
    {% include 'partials/hero.html'
        with {
            include_blob: true,
            article_date: post.date|date("d M y"),
            article_categories: post.terms('category'),
            help_guidance_term: help_guidance_term,
        }
    %}
{% endblock %}

{% block body %}

    {% if post.imported_content %}
        <section class="section section--content">
            <div class="is-typeset wysiwyg">
                {{ post.imported_content|wpautop }}
            </div>
        </section>
    {% endif %}

    {% include 'partials/flexible-content-article.html' with { item: content } %}

    {% if related_content %}
        <section class="section section--cloud section--headed section--padded section--end">
            <div class="section__heading section__heading--trailer">
                <h2 class="section__title">{{ related_content_title }}</h2>
            </div>
            <div class="row">
                <div class="l-3up">
                    {% if related_content %}
                        {% for item in related_content %}
                            <div class="l-3up__col">
                                {% include 'partials/card-articles.html' %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <a href="/news/" class="button button--large button--xp button--trailer">All news</a>
        </section>
    {% endif %}

{% endblock %}
