{% extends 'default.html' %}

{% block body_id %}blog{% endblock %}
{% block body_class %}blog{% endblock %}

{% block hero %}
    {% include 'partials/hero.html' %}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="row">
            <div class="max-meter max-meter--center is-typeset wysiwyg">
                {% include 'partials/flexible-content-blog.html' with { item: content } %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="max-meter max-meter--center">
                {% if post.comments %}
                    <div class="is-typeset">
                        <h3 class="comments__title">Comments</h3>
                    </div>
                    {% for cmt in post.comments %}
                        {% include "partials/comment.html" with { comment:cmt } %}
                    {% endfor %}
                {% endif %}
                {% if post.comment_status == "closed" %}
                    <div class="is-typeset">
                        <p>Comments for this post are closed</p>
                    </div>
                {% else %}
                    {% include "partials/comment-form.html" %}
                {% endif %}
            </div>
        </div>
    </section>

    {% if related_content %}
        <section class="section">
            <div class="row">
                <h2 class="section__title">{{ related_content_title }}</h2>
                <div class="l-3up">
                {% for item in related_content %}
                    {% include 'partials/card.html' %}
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {# Categories commented out for now
    <div class="row">
        <ul>
        {% for term in Term(categories) %}
            <li><a href="{{ term.link }}">{{ term.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    #}

{% endblock %}