{% extends 'default.html' %}

{% block body_id %}blog{% endblock %}
{% block body_class %}blog{% endblock %}

{% block hero %}
    {% include 'partials/hero.html' %}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="row">
            <div class="max-meter max-meter--center is-typeset wysiwyg">
                {{ post.content }}
                {% include 'partials/flexible-content-blog.html' with { item: content } %}
            </div>
        </div>
    </section>

    {% if related_content %}
        <section class="section">
            <div class="row">
                <h2 class="section__title">{{ related_content_title }}</h2>
                <div class="l-3up">
                {% for item in related_content %}
                    {% include 'partials/card-blog.html' %}
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}