{% extends 'sidebar.html' %}

{% block body_id %}about{% endblock %}
{% block body_class %}about{% endblock %}

{% block hero %}
	{% include 'partials/hero-team-member.html' %}
{% endblock %}

{% block aside %}
	{% include 'navigation/aside.html' %}
{% endblock %}

{% block main %}
	<div class="is-typeset is-typeset--additionals wysiwyg">
		{{ post.content|wpautop }}
	</div>
{% endblock %}

{% block after_body %}

    {% if related_content %}
        <section class="section">
            <div class="row space-section-top">
                <h2 class="section__title">{{ related_content_title }}</h2>
                <div class="l-3up">
                {% for item in related_content %}
                    {% include 'partials/card.html' %}
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
