<div class="hero hero--image">
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">{{ title }}</h1>
        </div>
        <div class="hero-image">
            <div class="hero__logo">
                <img src="{{ global.assets_root }}/img/case-study-logo-3.jpg" alt="alt tag">
            </div>
            <div class="hero-image__left">
                <img src="{{ global.assets_root }}/img/hero-placeholder.jpg" alt="alt">
            </div>
            <div class="hero-image__right">
                <img src="{{ global.assets_root }}/img/hero-placeholder.jpg" alt="alt">
            </div>
        </div>
    </div>
</div>
