<div class="hero hero--image">
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">{{ title }}</h1>
            <div class="hero__meta">
                <div class="hero__meta__image">
                    <img src="{{ global.assets_root }}/img/profile.png" alt="alt">
                </div>
                <p class="hero__meta__copy">Written by Matt Jukes on Nov 21, 2018</p>
            </div>
        </div>
        <div class="hero-image">
            <div class="hero-image__left">
                <img src="{{ global.assets_root }}/img/hero-placeholder.jpg" alt="alt">
            </div>
            <div class="hero-image__right">
                <img src="{{ global.assets_root }}/img/hero-placeholder.jpg" alt="alt">
            </div>
            <p class="hero-image__credit">Photo by <a href="https://unsplash.com/@samuelzeller?utm_source=medium&amp;utm_medium=referral">Samuel Zeller</a> on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></p>
        </div>
    </div>
</div>
