<div class="l-3up">
    <a href="#" class="card">
        <div class="card__media" style="background-image: url({{ global.assets_root }}/img/content-image-2.jpg);"></div>
        <div class="card__content">
            <h3 class="card__title">Page title</h3>
            <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. </p>
        </div>
    </a>
    <a href="#" class="card">
        <div class="card__media" style="background-image: url({{ global.assets_root }}/img/content-image-3.jpg);"></div>
        <div class="card__content">
            <h3 class="card__title">Page title</h3>
            <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. </p>
        </div>
    </a>
    <a href="#" class="card">
        <div class="card__media" style="background-image: url({{ global.assets_root }}/img/content-image-4.jpg);"></div>
        <div class="card__content">
            <h3 class="card__title">Page title</h3>
            <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. </p>
        </div>
    </a>
</div>
