{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "" %}
{% set section = "" %}
{% set title = "" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
	{% include 'partials/hero-home.html' %}

    <section class="section">
        <div class="row">
            <div class="max-meter max-meter--center is-typeset is-typeset--additionals">
                <p>Notbinary works with institutions to help them embrace the opportunities of the internet-era.</p>
                <p>Trusted by government, education, charities and industry to design and engineer user-centric solutions to hard problems using modern cloud based technologies.</p>
                <p>More than just technology challenges Notbinary supports institutions to implement lean & agile methodologies, new business models and engage their users to secure sustainable, successful change.</p>
                <p>Many of our team are veterans of the very kinds of institutions we now seek to support which gives us both insights and empathy with the challenges our clients face and the expectations of their users.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="l-2up">
                <a href="#" class="card">
                    <div class="card__media card__media--major" style="background-image: url({{ global.assets_root }}/img/content-image-2.jpg);"></div>
                    <div class="card__content">
                        <h3 class="card__title">What we do</h3>
                        <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="card__media card__media--major" style="background-image: url({{ global.assets_root }}/img/content-image-3.jpg);"></div>
                    <div class="card__content">
                        <h3 class="card__title">About us</h3>
                        <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row space-section-top">
            <div class="l-2up">
                <div class="l-2up__col">
                    <aside class="banner__aside">
                        <div class="banner__logo">
                            <img src="{{ global.assets_root }}/img/case-study-logo.jpg" alt="alt tag">
                        </div>
                        <h3 class="banner__subtitle">MHGLC case study</h3>
                        <p class="banner__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="button">Read case study</a>
                    </aside>
                </div>
                <div class="l-2up__col">
                    <aside class="banner__aside">
                        <div class="banner__logo">
                            <img src="{{ global.assets_root }}/img/case-study-logo.jpg" alt="alt tag">
                        </div>
                        <h3 class="banner__subtitle">MHGLC case study</h3>
                        <p class="banner__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="button">Read case study</a>
                    </aside>
                </div>
                <div class="l-2up__col">
                    <aside class="banner__aside">
                        <div class="banner__logo">
                            <img src="{{ global.assets_root }}/img/case-study-logo.jpg" alt="alt tag">
                        </div>
                        <h3 class="banner__subtitle">MHGLC case study</h3>
                        <p class="banner__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="button">Read case study</a>
                    </aside>
                </div>
                <div class="l-2up__col">
                    <div class="callout">
                        <p class="callout__copy">… Notbinary have been amazing! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing…</p>
                        <a class="callout__link" href="#">https://public.digital/2018/10/12/internet-era-ways-of-working/</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section space-section-bottom">
        <div class="row">
            <h2 class="section__title section__title--centred">Who we work with</h2>
            <div class="logo-container">
                <div class="logo-wall">
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-bbc.png)"></div>
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-mhclg.png)"></div>
                    <a href="#" class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-cancer-research.png)"></a>
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-ukho.png)"></div>
                    <a href="#" class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-unilever.png)"></a>
                    <a href="#" class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-cancer-research.png)"></a>
                    <a href="#" class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-christian-aid.png)"></a>
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-westminster.png)"></div>
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-lsbu.png)"></div>
                    <div class="logo-wall__item" style="background-image: url({{ global.assets_root }}/img/logo-dvla.png)"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
