{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "contact" %}
{% set section = "contact" %}
{% set title = "Contact" %}
{% set subtitle = "Lorem ipsum dolor sit amet" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'form-contact', as="form" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'partials/hero.html' %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="max-meter max-meter--center">
                <div class="is-typeset">
                    <p>Whether you’re looking to become a client or you want to join our team we'd love to hear from you.</p>
                    <p>Email: <a href="mailto:">contact@notbinary.co.uk</a></p>
                </div>
                <form class="form" action="index.html" method="post">
                    {% for item in form.input %}
                        {% include 'forms/partials/input-types.html' %}
                    {% endfor %}
                    {% for item in form.textarea %}
                        {% include 'forms/partials/textarea-type.html' %}
                    {% endfor %}
                    <div class="form-field form-field--spaced">
                        <input class="button" type="submit" value="Submit">
                    </div>
                </form>
                <!-- <div class="ContactUsForm__Box-sc-12kitjm-0 jQBGrv"><div><div id="reactHubspotForm0" style="display: block;"><iframe id="hs-form-iframe-0" class="hs-form-iframe" scrolling="no" style="position: static; border: none; display: block; overflow: hidden; width: 503px; height: 517px;" height="517" width="503"></iframe></div></div></div> -->
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <h2 class="section__title">More about us</h2>
            {% include 'partials/wayfinder.html' %}
        </div>
    </section>
{% endblock %}
