<link rel="apple-touch-icon" sizes="180x180" href="/patterns/converted-html/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/patterns/converted-html/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/patterns/converted-html/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/patterns/converted-html/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/patterns/converted-html/assets/favicons/safari-pinned-tab.svg" color="#4b509a">
<link rel="shortcut icon" href="/patterns/converted-html/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#4b509a">
<meta name="msapplication-config" content="/patterns/converted-html/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">