<footer role="contentinfo" class="footer">
    <div class="row">
        <div class="footer__contact">
            <div class="branding"></div>
            <div class="footer__contact__message">
                <p>{{ global.footer.footer_contact_message}}</p>
            </div>
            <ul class="footer__icons">
            	{% if global.twitter_link %}
            		<li><a class="icon icon--twitter" href="{{ global.twitter_link }}"><em>Twitter</em></a></li>
            	{% endif %}
            	{% if global.facebook_link %}
            		<li><a class="icon icon--facebook" href="{{ global.facebook_link }}"><em>Facebook</em></a></li>
            	{% endif %}
            	{% if global.instagram_link %}
            		<li><a class="icon icon--instagram" href="{{ global.instagram_link }}"><em>Instagram</em></a></li>
            	{% endif %}
            	{% if global.youtube_link %}
            		<li><a class="icon icon--youtube" href="{{ global.youtube_link }}"><em>YouTube</em></a></li>
            	{% endif %}
            	{% if global.linkedin_link %}
            		<li><a class="icon icon--linkedin" href="{{ global.linkedin_link }}"><em>LinkedIn</em></a></li>
            	{% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="footer__secondary">
            {% if global.footer.small_print %}
            <div class="footer__meta">
                	<p>{{ global.footer.small_print }}</p>
            </div>
            {% endif %}
            {% if footer_menu %}
	            <div class="footer__menu">
	                <ul class="menu">
	                	{% for item in footer_menu.get_items %}
							<li class="menu__item"><a class="menu__item__link" href="{{ item.link }}">{{ item.title }}</a></li>
				        {% endfor %}
	                </ul>
	            </div>
            {% endif %}
        </div>
    </div>
</footer>
