{% extends 'default.html' %}

{% block hero %}
    {% include 'partials/hero-blog.html' %}
{% endblock %}

{% block body_id %}blog-archive{% endblock %}
{% block body_class %}blog-archive{% endblock %}

{% block body %}
	<section class="section">
        <div class="row">
            <div class="max-meter max-meter--center">
            	{% for item in post %}
	                {% include 'partials/listing-blog.html'%}
	            {% endfor %}
                {% if not posts %}
		            <span class="alert alert--error">Sorry, no blog posts found.</span>
		        {% endif %}
		        {% include 'navigation/pagination.html'%}
            </div>
        </div>
        {# Categories commented out for now
        <div class="row">
            <ul>
            {% for term in Term(categories) %}
                <li><a href="{{ term.link }}">{{ term.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        #}
    </section>

{% endblock %}
