{% extends 'default.html' %}

{% block body_id %}home{% endblock %}

{% block hero %}
	{% include 'partials/hero-home.html' %}
{% endblock %}

{% block body %}

	<section class="section">
        <div class="row">
            <div class="max-meter max-meter--center is-typeset is-typeset--additionals">
                {{ post.content|wpautop }}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="l-2up">
            	{% for item in post.meta('page_links') %}
					{% include ('partials/card.html') %}
				{% endfor %}
            </div>
        </div>
		{% if callout_content or featured_case_study %}
        <div class="row space-section-top">
            <div class="l-2up">
            	{% if callout_content %}
                <div class="l-2up__col">
                    <div class="callout">
                        <div class="callout__copy">
                        	{{ callout_content }}
                        </div>
                        <a class="callout__link" href="{{ callout_link }}">{{ callout_link }}</a>
                    </div>
                </div>
                {% endif %}
                {% if featured_case_study %}
                    {% for case_study in featured_case_study %}
                    <div class="l-2up__col">
                        <aside class="banner__aside">
                            <div class="banner__logo">
                                <img src="{{ TimberImage(case_study.client_logo|resize(80,80))}}" alt="Logo for {{ case_study.post_title }}">
                            </div>
                            <h3 class="banner__subtitle">{{ case_study.post_title }}</h3>
                            <p class="banner__copy">{{ case_study.post_excerpt }}</p>
                            <a href="{{ function('get_permalink',case_study.ID) }}" class="button">Read case study</a>
                        </aside>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </section>

{% endblock %}
