{% extends 'sidebar.html' %}

{% block body_id %}donate{% endblock %}
{% block body_class %}donate{% endblock %}

{% block hero %}
	{% include 'partials/hero.html' %}
{% endblock %}

{% block aside %}
	{% include 'navigation/aside.html' %}
{% endblock %}

{% block main %}
	<div class="is-typeset is-typeset--intro wysiwyg">
		{{ content_editor|wpautop }}
	</div>
	{% if stories %}
		{% for story in Post(stories) %}
			<section class="section section--flex">
				<div class="row row--nopad">
					<div class="section__media">
						{% include 'includes/responsive/srcset.html'
		                    with {
		                        image: story.story_image,
		                        vw: '(min-width: 1700px) 25vw, (min-width: 1060px) 30vw, (min-width: 780px) 50vw, 100vw',
		                        target_width: 443,
		                        target_height: 443,
		                        class: 'max-width'
		                    }
		                %}
					</div>
					<div class="section__content">
						<h2 class="section__title">{{ story.post_title }}</h2>
						{% if story.story_excerpt %}
				            {{ story.story_excerpt|wpautop}}
				        {% else %}
				            {{ story.story_content|excerpt(60)|wpautop }}
				        {% endif%}
						<p><a href="{{ story.link }}" class="button">Read {{ story.post_title }}</a></p>
					</div>
				</div>
			</section>
		{% endfor %}
	{% endif %}
{% endblock %}