{% extends 'sidebar.html' %}

{% block body_id %}team{% endblock %}
{% block body_class %}team{% endblock %}

{% block hero %}
    {% include 'partials/hero-subheading.html' %}
{% endblock %}

{% block aside %}
    {% include 'navigation/aside.html' %}
{% endblock %}

{% block main %}
    <div class="is-typeset is-typeset--additionals wysiwyg">
        {{ post.content|wpautop }}
    </div>
{% endblock %}

{% block after_body %}
    <section class="section">
        <div class="row">
            {% if team_members_title %}
                <h2 class="section__title">{{ team_members_title }}</h2>
            {% endif %}
            <div class="l-4up">
                {% for person in Post(team_members) %}
                    <div class="l-4up__col">
                        {% include 'partials/listing-team.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if additional_people %}
        <section class="section fill-mist">
            <div class="row">
                {% if additional_people_title %}
                    <h2 class="section__title">{{ additional_people_title }}</h2>
                {% endif %}
                <div class="l-4up">
                    {% for person in Post(additional_people) %}
                        <div class="l-4up__col">
                            {% include 'partials/listing-team.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if related_content %}
        <section class="section">
            <div class="row">
                <h2 class="section__title">{{ related_content_title }}</h2>
                <div class="l-3up">
                {% for item in related_content %}
                    {% include 'partials/card.html' %}
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
