<div class="card">
    <div class="card__media">
        {% if item.story_image %}
            <a class="card__media__link" href="{{ item.link }}">
                {% include 'includes/responsive/srcset.html'
                    with {
                        image: item.story_image,
                        vw: '(min-width: 1700px) 25vw, (min-width: 1060px) 30vw, (min-width: 780px) 50vw, 100vw',
                        target_width: 720,
                        target_height: 390,
                        alt: 'Image for ' ~ item.title,
                        class: 'card__image',
                        crop: 'center'
                    }
                %}
            </a>
        {% endif %}
    </div>
    <div class="card__content">
        <h2 class="card__heading"><a href="{{ item.link }}">{{ item.title }}</a></h2>
        <p class="card__excerpt">{{ item|content_excerpt }}</p>
    </div>
</div>
