{% for content in post.get_field('flexible_content') %}

    {% if content.acf_fc_layout == 'subhead' %}
        {% include 'partials/block_subhead.html' with { item: content } %}

    {% elseif content.acf_fc_layout == 'rich_text' %}
        {% include 'partials/block_richtext.html' with { item: content } %}

    {% elseif content.acf_fc_layout == 'video_gallery' %}
        {% include 'partials/block_gallery.html' with { item: content } %}

    {# not used
    {% elseif content.acf_fc_layout == 'story' %}
        {% for stories in content %}
            {% for story in stories %}
                {% include 'partials/block_story.html' with {
                        story_image: story.story_image,
                        story_content: story.story_content,
                        story_source: story.story_source,
                        story_excerpt: story.post_excerpt,
                        story_link: story.link
                    }
                %}
            {% endfor %}
        {% endfor %}
    #}

    {% elseif content.acf_fc_layout == 'quote' %}
        {% include 'partials/block_quote.html' with { item: content } %}

    {% endif %}

{% endfor %}