{% for content in post.get_field('flexible_content') %}
    {% if content.acf_fc_layout == 'content_editor' %}
        {% include 'partials/flex_content_editor.html' with { item: content } %}
    {% elseif content.acf_fc_layout == 'call_out_quote' %}
        {% include 'partials/flex_call_out_quote.html' with { item: content } %}
    {% elseif content.acf_fc_layout == 'call_out_content' %}
        {% include 'partials/flex_call_out_content.html' with { item: content } %}
    {% endif %}
{% endfor %}