<div class="banner">
                <span class="banner__flourish"></span>
                <div class="banner__main">
                    <h2 class="banner__title">{{ item.title }}</h2>
                    <p class="banner__copy">{{ item|content_excerpt }}</p>
                    <a href="{{ item.link }}" class="button">Read case study</a>
                </div>
{{client_logo}}
                <aside id="ri{{client_logo.ID}}" class="banner__aside banner__aside--major"></aside>
                    {% include 'includes/responsive/ri.html'
                        with {
                            id: client_logo.ID,
                            image: client_logo,
                            orig_width: 400,
                            orig_height: 400
                        }
                    %}
            </div>